<div class="container center-horizontal-vertical">
    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <i class="fas fa-credit-card"></i>
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

        </div>
    </div>
</div>